* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box-1,
.box-2,
.box-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
}

.box-1 {
  background-color: #00ffff;
}

.box-2 {
  background-color: #ff69b4;
}

.box-3 {
  background-color: #9acd32;
}

.container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 700px) {
  /* quando a largura da tela for maior ou igual aos pixels, adote as regras a seguir */
  .container {
    flex-direction: row;
  }
  .box-3 {
    background-color: #e4e145;
    color: #000000;
    font-size: 40px;
    font-weight: bold;
  }
}
