@import url("https://fonts.googleapis.com/css2?family=Playwrite+BR+Guides&family=Playwrite+DE+LA+Guides&display=swap");

.playwrite-font {
  font-family: "Playwrite BR Guides", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "FiraCode", Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 6px;
  border: double red 4px;
}

#text-special {
  letter-spacing: 2px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

a {
  text-decoration: none;
}
