* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bus-card {
  border: 1px solid green;
  border-radius: 8px;
  padding: 6px;
}

.vertical {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.horizontal {
  display: flex;
  gap: 16px;
}
