* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 640px;
  margin: 0 auto;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: #ececec;
  color: #363636;
  padding: 32px 28px;
}

h1,
h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
}

header {
  padding-bottom: 22px;
  border-bottom: 1px solid #a8a8a8;
}

header p {
  font-family: "SF Mono", Consolas, "Courier New", monospace;
  margin-bottom: 22px;
  margin-top: 22px;
}

header button {
  padding: 5px 12px;
  background-color: #d5e9fa;
  border: 1px solid #6ea2cf;
  border-radius: 6px;
  cursor: pointer;
}

header button:hover {
  background-color: #4684b9;
}
